*
{
    font-family: Arial, Helvetica, sans-serif;
}
/*General styles*/
.container 
{
	width: 960px;
	margin: 0 auto;
	padding: 0px;
	position: relative;
}
p
{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 14px;
    line-height: 20px;
}
.intro
{
    width: 100%;
    background: url("img/beatles2.jpg") no-repeat;
    background-size: cover;
    height: 821px;
}

.h2Title
{
    text-align: center;
    font-size:24px;
    letter-spacing: .1em;
    text-transform: uppercase;
    color: #000;
    font-weight: bold;
    line-height: 30px;
    margin-bottom:40px;
}

.h2Title:after
{
    content: "";
    display: block;
    height: 3px;
    width: 60px;
    background: #000;
    margin: 8px auto;

}
.titleHeader
{
    margin: 0 auto;
    position: absolute;
    top: 200px;
    left: 30%;
    border: 3px solid #FFF;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 400px;
    height: 150px;
    
}
.titleHeader h1
{
    text-transform: uppercase;
    letter-spacing: .1em;
    font-size:60px;
    color: #FFF;
    
    text-align: center;
}

/*Nav*/
nav ul li
{
    display: inline-block;
    margin-left: 15px;
    margin-right: 0;
    margin-top:20px;
}
nav
{
    text-align: right;
}
nav ul li a
{
    text-decoration: none;
    color: #000;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}

nav ul li a:hover
{
    color:#FFF;
    text-decoration: underline;
}

/*About*/

.timeline
{
    width:100%;
}
.timeline .h2Title
{
    padding-top: 40px;
}

.externalQuote
{
    max-width: 800px;
    margin: 0 auto;
    color: #000;
    padding: 20px;

}
.externalQuote p
{
    font-size: 30px;
    font-style: italic;
    text-align: center;
}

.timelineImg
{
    width: 300px;
    height: 185px;
    
}

.timelineList
{
    text-align: center;
    margin-top:20px;
}

.timelineList li
{
    
    margin-bottom: 20px;
}

.timelineDescription
{
    
    padding-top: 10px;
    
    
    
    
    width: 300px;
    height: 120px;
}
.timelineDescription h3
{
    text-align: center;
}
.timelineDescription h3:after
{
    content: "";
    display: block;
    height: 3px;
    width: 40px;
    background: #000;
    margin: 8px auto;

}

.copy p
{
    color: #fff;
}
.copy
{
    background: #000;
    padding: 20px;
    text-align: center;
    width: 100%;
}
.copy p a
{
    text-decoration: none;
    color: #fff;
}

/*Discography*/
.discography
{
    width: 100%;
    background: #DDDFDC;
    
    
}
.discography .h2Title
{
    color: #000;
    padding-top: 40px;
}
.discography .h2Title:after
{
    content: "";
    display: block;
    height: 3px;
    width: 40px;
    background: #000;
    margin: 8px auto;

}

.discographyList
{
    text-align: center;
}
.discographyIcon img
{
    width: 200px;
    height: 200px;
}
.discographyIcon
{
    margin-bottom: 20px;
}
.discographyImg:hover
{
    
    border:5px solid #000;
}


